<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ToDo Application{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <section class="section">
        <div class="container">
            <h1 class="title">{{ block('title') }}</h1>

            {% block body %}{% endblock %}
        </div>
    </section>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
