{% extends 'base.html.twig' %}

{% block title %}ToDo - {{ todo.title }}{% endblock %}

{% block body %}
    <div class="field is-grouped">
        <div class="control">
            <a href="{{ path('todo_index') }}" class="button is-info index-button">
                <span class="icon">
                    <i class="fa fa-hand-o-left"></i>
                </span>
                <span>Terug naar overzicht</span>
            </a>
        </div>

        <div class="control">
            {{ form_start(delete_form) }}
                <button type="submit" class="button is-danger delete-button">
                    <span class="icon">
                        <i class="fa fa-trash"></i>
                    </span>
                    <span>Verwijderen</span>
                </button>
            {{ form_end(delete_form) }}
        </div>
    </div>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <button type="submit" class="button is-success save-button">
            <span class="icon">
                <i class="fa fa-floppy-o"></i>
            </span>
            <span>Opslaan</span>
        </button>
    {{ form_end(edit_form) }}
{% endblock %}
