{% extends 'base.html.twig' %}

{% block title %}ToDo - Overzicht{% endblock %}

{% block body %}
    <table class="table is-bordered is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Deadline</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td><a href="{{ path('todo_show', { 'id': todo.id }) }}" id="{{ todo.id }}">{{ todo.title }}</a></td>
                <td>{% if todo.deadline %}{{ todo.deadline|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul class="field is-grouped">
                        <li class="control">
                            <a href="{{ path('todo_show', { 'id': todo.id }) }}" class="button is-info show-button">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </li>

                        <li class="control">
                            <a href="{{ path('todo_edit', { 'id': todo.id }) }}" class="button is-warning edit-button">
                                <span class="icon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button is-success" href="{{ path('todo_new') }}">
        <span class="icon">
            <i class="fa fa-plus-square"></i>
        </span>
        <span>ToDo toevoegen</span>
    </a>

{% endblock %}
