{% extends 'base.html.twig' %}

{% block title %}ToDo - Toevoegen{% endblock %}

{% block body %}
    <div class="field is-grouped">
        <div class="control">
            <a href="{{ path('todo_index') }}" class="button is-info index-button">
                <span class="icon">
                    <i class="fa fa-hand-o-left"></i>
                </span>
                <span>Terug naar overzicht</span>
            </a>
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="button is-success add-button">
            <span class="icon">
                <i class="fa fa-floppy-o"></i>
            </span>
            <span>Opslaan</span>
        </button>
    {{ form_end(form) }}

{% endblock %}
