{% extends 'base.html.twig' %}

{% block title %}ToDo - {{ todo.title }}{% endblock %}

{% block body %}
    <div class="field is-grouped">
        <div class="control">
            <a href="{{ path('todo_index') }}" class="button is-info index-button">
                <span class="icon">
                    <i class="fa fa-hand-o-left"></i>
                </span>
                <span>Terug naar overzicht</span>
            </a>
        </div>

        <div class="control">
            <a href="{{ path('todo_edit', { 'id': todo.id }) }}" type="submit" class="button is-warning edit-button">
                <span class="icon">
                    <i class="fa fa-pencil"></i>
                </span>
                <span>Bewerken</span>
            </a>
        </div>

        <div class="control">
            {{ form_start(delete_form) }}
            <button type="submit" class="button is-danger delete-button">
                <span class="icon">
                    <i class="fa fa-trash"></i>
                </span>
                <span>Verwijderen</span>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>

    <table class="table is-bordered is-striped">
        <tbody>
        <tr>
            <th>Titel</th>
            <td>{{ todo.title }}</td>
        </tr>
        <tr>
            <th>Deadline</th>
            <td>{% if todo.deadline %}{{ todo.deadline|date('d-m-Y') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
